* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  padding: 5px 0;
  background-color: #6180af;
  margin-bottom: 5px;
  box-shadow: 0px 2px 3px #dcdcdc;
  font-size: 15px;
  color: white;
}

header input {
  width: 80%;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar img {
  width: 30px;
  height: auto;
}

nav .container ul {
  display: flex;
  justify-content: space-between;
}

nav .container ul .logo, .search-bar form, .message-cart {
  display: flex;
}

.search-bar {
  flex-basis: 50%;
}

.search-bar form {
  flex-basis: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 5px #dcdcdc;
  padding: 5px;
  margin-bottom: 8px;
  align-items: center;
}

.filter img {
  display: none;
  width: 40px;
  height: auto;
}

.filter-option {
  display: flex;
  flex-basis: 65%;
  justify-content: space-between;
  align-items: center;
}

.filter-option button {
  padding: 4px;
  background-color: #da5350;
  color: white;
  border-radius: 1px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  text-align: center;
  flex-basis: 23%;
  height: auto;
  margin: 1%;
  padding: 2%;
  box-shadow: 0px 3px 5px #dcdcdc;
  border-radius: 3px;
}

.item div {
  width: 100%;
  margin-bottom: 15px;
  background-color: #cbcbcb;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
  font-size: 26px;
}

.item p{
  font-size: 16px;
  margin-bottom: 13px;
}

.item button {
  width: 100%;
  background-color: #ee6b21;
  color: white;
  font-size: 14px;
  padding: 16px 0;
}

@media (max-width: 700px) {
  .item {
    flex-basis: 42%;
  }

  .filter-option {
    display: none;
  }

  .filter img {
    display: inline-flex;
  }
}

@media (max-width: 500px) {
  .item {
    flex-basis: 95%;
  }

  header {
    font-size: 12px;
    padding: 3px 0;
  }

  .filter-option {
    display: none;
  }

  .filter img {
    display: inline-flex;
  }
}